<%= form_with(model: @employee, local: true) do |form| %>
  <div class="row justify-content-center">
    <div class="field mb-3 form-group col-6">
      <%= form.label 'Nombre*', class: 'font-weight-bold' %>
      <%= form.text_field :first_name, id: :employee_first_name, class: 'form-control' %>
    </div>

    <div class="field mb-3 form-group col-6">
      <%= form.label 'Apellido*', class: 'font-weight-bold'%>
      <%= form.text_field :last_name, id: :employee_last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="field mb-3 form-group col-6">
      <%= form.label 'Cédula*', class: 'font-weight-bold' %>
      <%= form.text_field :ci, id: :employee_ci, class: 'form-control' %>
    </div>

    <div class="field mb-3 form-group col-6">
      <%= form.label 'celular*', class: 'font-weight-bold' %>
      <%= form.text_field :phone_number, id: :employee_phone_number, class: 'form-control' %>
    </div>

  </div>

    <div class="field mb-3 form-group">
      <%= form.label 'Correo electrónico' %>
      <%= form.text_field :email, id: :employee_email, class: 'form-control' %>
    </div>
  <div class="row justify-content-center">

    <div class="field mb-3 form-group col-6">
      <%= form.label 'Banco'%>
      <%= form.text_field :bank, id: :employee_bank, class: 'form-control' %>
    </div>

    <div class="field mb-3 form-group col-6">
      <%= form.label 'Tipo de cuenta' %>
      <%= form.text_field :account_type, id: :employee_account_type, class: 'form-control' %>
    </div>
  </div>

    <div class="field mb-3 form-group">
      <%= form.label 'Nro de cuenta' %>
      <%= form.text_field :count_number, id: :employee_count_number, class: 'form-control' %>
    </div>

  <div class="row justify-content-center">

    <div class="field mb-3 form-group col-6">
      <%= form.label 'Fijo' %>
      <%= form.text_field :landline, id: :employee_landline, class: 'form-control' %>
    </div>

    <div class="field mb-3 form-group col-6">
      <%= form.label 'Emergencia' %>
      <%= form.text_field :emergency_phone, id: :employee_emergency_phone, class: 'form-control' %>
    </div>
  </div>

  <div class="hidden">
    <%= form.text_field :department_id, id: :department_user_id, value: @department.id %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-block' %>
  </div>
<% end %>