<%= render partial: "./departments/employee_filter" %>
<div class="row justify-content-center">
  <div class="col-8">
    <h2><span><%= link_to '<', departments_path %></span> Resultados de la búsqueda</h2>
    <% if current_user.employees.count == 0%>
      <div class="row justify-content-center">
        <div class="col-12" align="center">
          <img src="<%= asset_path 'vacio.png' %>">          
        </div>
      <br>
      <br>
        <h4 class="col-12 text-center">Aún no hay empleados</h4>
      </div>

    <% else %>
      <table class="border d-block" cellpadding="10">
        <thead>
          <tr class="text-center">
            <th>Nombre del departamento</th>
            <th>Cantidad de empleados</th>
            <th>Acciones</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.first_name %></td>
              <td class="text-center"><%= 'Aqui va algo' %></td>
              <td class="text-justify"><%= link_to 'Edit', edit_employee_path(employee)%> 
              <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>            
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    <% end %>
  </div>  
</div>