<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @employee.ci %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employee.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @employee.bank %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @employee.account_type %>
</p>

<p>
  <strong>Count number:</strong>
  <%= @employee.count_number %>
</p>

<p>
  <strong>Landline:</strong>
  <%= @employee.landline %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @employee.emergency_phone %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department.name %>
</p>

<%= link_to 'Back', @department %>
