<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="row justify-content-center ">
    <div class="col-4 border">
      <div class="panel-heading text-center">
        <h4>Registro de compañías</h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
          <div class="form-group">
            <%= f.label :Correo_electrónico %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Nombre_de_la_compañía %>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Rif_de_la_compañía %>
            <%= f.text_field :rif, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Contraseña %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Confirmar_contraseña %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          <br>
          </div>
          <%= f.submit 'Registrarse', class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Ingresar', new_user_session_path %><br />
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

