  <%= form_tag employees_path, class: 'd-block', :method => 'get' do %>
  <div class="form-group row employee_filter p-2">
  	<div class="col-8">
  	  <%= text_field_tag :search, params[:search], class:'form-control', placeholder:'Busqueda de empleados' %>
  	</div>
  	<div>
  	  <%= submit_tag "icono", class: 'button btn btn-primary' %> 	
  	</div> 
  	<div class="float-right">
  	  <%= link_to('Cerrar sesión', destroy_user_session_path, method: :delete, class: 'button btn btn-primary') %>
  	</div>     
  </div>
<% end %>

<br>