<%= form_with(model: department, local: true) do |form| %>
  <div class="row">
    <div class="col border p-3">
      <div class="field mb-3 form-group">
        <%= form.label 'Nombre del departamento' %>
        <br>
        <%= form.text_field :name, id: :department_name, class: 'input-group' %>
      </div>

      <div class="field hidden form-group">
        <%= form.text_field :user_id, id: :department_user_id, value: current_user.id %>
      </div>

      <div class="actions">
        <%= form.submit class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
<% end %>
 