<% if notice %>
  <div class="row justify-content-center text-center">
	<div class="col-7 alert alert-success alert-dismissible">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <%= notice %>
    </div>        
  </div>
<% end %>