<div class="row justify-content-center">
  <div class="col-5">
  	<h1>Editando departamento	</h1>
	<%= render 'form', department: @department %>

	<%= link_to 'Show', @department %> |
	<%= link_to 'Back', departments_path %>  	
  </div>	
</div>

