<%= render partial: "employee_filter" %>
<%= render partial: "notice" %>
<div class="row justify-content-center">
  <div class="col-8 justify-content-center">
    <h2>Departamentos</h2>
    <% if current_user.departments.count == 0%>
      <div class="row justify-content-center">
        <div class="col-12" align="center">
          <img src="<%= asset_path 'vacio.png' %>">          
        </div>
      <br>
      <br>
        <h4>Aún no hay departamentos</h4>
        <div>
          Puedes crear tu primer departamento utilizando el siguiente formulario:
        </div>
      </div>
      
    <% else %>
      <table class="border d-block" cellpadding="10">
        <thead>
          <tr class="text-center">
            <th>Nombre del departamento</th>
            <th>Cantidad de empleados</th>
            <th>Acciones</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @departments.each do |department| %>
            <tr>
              <td><%= link_to "#{department.name}",department_path(department) %></td>
              <td class="text-center"><%= department.employees.count %></td>
              <td class="text-justify"><%= link_to 'Edit', edit_department_path(department) %> 
              <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>            
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    <% end %>
  </div>
  <div class="col-3">
    <h2>New Department</h2>
    <%= render 'form', department: @department %>
  </div>   
</div>

