
<%= render partial: "employee_filter" %>
<%= render partial: "notice" %>
<div class="row justify-content-center">
  <div class="col-7">
    <h2><span><%= link_to '<', departments_path %></span> Empleados de <%= @department.name %></h2>
    <% if @department.employees.count == 0%>
      <div class="row justify-content-center">
        <div class="col-12" align="center">
          <img src="<%= asset_path 'vacio.png' %>">          
        </div>
      <br>
      <br>
        <h4 class="col-12 text-center">Aún no hay empleados</h4>
        <div class="text-center">
          Puedes crear tu primer empleado utilizando el siguiente formulario:
        </div>
      </div>

    <% else %>
      <div class="row ">
        <table cellpadding="20" class="border">
          <thead class="border">
            <tr>
              <th class="pr-5">Cédula</th>
              <th class="pr-5">Nombre</th>
              <th class="pr-5 pl-5">Celular</th>
              <th class="pl-5">Acciones</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          
          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td><%= employee.ci %></td>
                <td><%= employee.first_name %></td>
                <td class="pl-5"><%= employee.phone_number %></td>
                <td class="text-justify"><%= link_to 'Edit', edit_employee_path(employee)%> 
                <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>            
              </tr>
            <% end %>
          </tbody>
        </table>
      
      </div>
      <br>
    <% end %>
  </div>
  <div class="col-4">
    <h2>Nuevo empleado</h2>
    <%= render './employees/employee_form', employee: @employee %>
  </div>   
</div>