<div class="panel panel-default devise-bs container justify-content-center">
  <div class="row justify-content-center ">
    <div class="col-4 border mt-3">
      <div class="panel-heading text-center">
        <h4>Iniciar sesión</h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
          <div class="form-group">
            <%= f.label :Correo_Electronico %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Contraseña %>
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="checkbox">
              <%= f.label :Recuerdame do %>
                <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Recuerdame') %>
              <% end %>
            </div>
          <% end %>
          <br>
          <%= f.submit  'Ingresar', class: 'btn btn-primary btn-block' %>
        <% end %>
        <%= link_to 'Registro', new_user_registration_path %><br />
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
