<!DOCTYPE html>
<html>
  <head>
    <% if user_signed_in? %>
      <title><%= current_user.name %></title>
    <% else %>
      <title>Inicio</title>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">      
      <%= yield %>      
    </div>
  </body>
</html>
